# Configuración de Base de Datos
DB_HOST=localhost
DB_NAME=gestor_pro
DB_USER=root
DB_PASS=
DB_PORT=3306

# Configuración de la Aplicación
APP_URL=http://localhost/proyectos/proyectoJuevesNewton/public
APP_ENV=development # development, production

# Seguridad
APP_KEY=some_random_string_here
