# public/uploads/.htaccess
# Desactiva la ejecución de cualquier script en esta carpeta
php_flag engine off
Options -ExecCGI
AddHandler cgi-script .php .php3 .php4 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi